site_name: llmtranslate

theme:
  name: material
  features:
    - content.code.copy

repo_url: https://github.com/adam-pawelek/llmtranslate


nav:
  - Home: index.md
  - Supported languages:
    - gpt-4o: Supported languages/gpt-4o.md
    - gpt-4o-mini: Supported languages/gpt-4o-mini.md
  - Tutorial:
    - Quick Start Guide: Tutorial/Quick Start Guide.md
    - Choosing OpenAI Model for Translation: Tutorial/Choosing OpenAI Model for Translation.md


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.mark
  - attr_list
  - admonition
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.keys
  - pymdownx.betterem
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.tilde
  - pymdownx.caret
  - pymdownx.mark